.topic-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 50px 0px;
  gap: 20px;
}

.topic-card {
  background-color: #233329;
  text-align: center;
  padding: 40px;
  width: 100%;
  padding: 100px 0;
  margin-bottom: 20px;
}

.topic-card:hover {
  background-color: #63a46c;
  transition: 0.5s;
}

.topic-section a {
  text-decoration: none;
  color: white;
}

.topic-card h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  .topic-section {
    justify-content: space-around;
  }
  .topic-card {
    width: 300px;
  }
}
