.hero-section {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.single-article-date {
  margin-top: 20px;
}

.single-article-title {
  font-family: Noto Sans Khojki;
  line-height: 1.3em;
  margin-bottom: 10px;
  font-size: 2em;
}

.article-container {
  margin: 50px 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.single-article-body {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
}

.vote-section {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 30px;
  display: flex;
}

.vote-btn {
  background-color: transparent;
  border: 0;
  padding: 20px;
  font-size: 1.5em;
}

.vote-btn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .single-article-title {
    font-size: 4em;
    margin: 0 0 30px 0;
  }

  .single-article-body {
    margin: 0 20%;
    line-height: 2.2em;
  }

  .comments-container {
    margin: 0 20%;
  }
}
